# static files
application/static/admin
application/static/drf-yasg
application/static/rest_framework

# blender files
# *.blend
# *.blend1

# sqlite database
*.sqlite3
database/

# every render effects
*.png
*.jpg
